* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SFPRODISPLAYBOLD;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: SFPRODISPLAYMEDIUM;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: SFPRODISPLAYREGULAR;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SFPRODISPLAYLIGHT;
  src: url(fonts/SFPRODISPLAYLIGHT.ttf);
}

@font-face {
  font-family: SF-Pro-Text-Bold;
  src: url(fonts/SF-Pro-Text-Bold.otf);
}

@font-face {
  font-family: SF-Pro-Text-BoldItalic;
  src: url(fonts/SF-Pro-Text-BoldItalic.otf);
}

@font-face {
  font-family: SF-Pro-Text-Light;
  src: url(fonts/SF-Pro-Text-Light.otf);
}

@font-face {
  font-family: SF-Pro-Text-Medium;
  src: url(fonts/SF-Pro-Text-Medium.otf);
}

@font-face {
  font-family: SF-Pro-Text-Regular;
  src: url(fonts/SF-Pro-Text-Regular.otf);
}

.outer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  gap: 25px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#hero {
  background-color: red;
  background: url(images/figure.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#hero h1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 56px;
  color: rgba(245, 245, 247, 1);
  line-height: 60px;
  letter-spacing: -0.28px;
}

#hero p {
  font-family: SFPRODISPLAYREGULAR;
  color: rgba(110, 110, 115, 1);
  letter-spacing: 0.11px;
  line-height: 31px;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#hero button {
  font-family: SFPRODISPLAYREGULAR;
  color: rgba(41, 151, 255, 1);
  letter-spacing: 0.23px;
  line-height: 29px;
  font-size: 21px;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

#two {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 15px;
}

#two {
  background: url(images/div.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 736px;
}

#three {
  background: url(images/sect3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 736px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
}

#three h2 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 58px;
  line-height: 60px;
  letter-spacing: -0.28px;
  color: 1D1D1F;
}

#three P {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 28x;
  line-height: 31px;
  letter-spacing: -0.11px;
  color: 1D1D1F;
}

.button_span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  font-family: SFPRODISPLAYREGULAR;
  color: rgba(0, 102, 204, 1);
  letter-spacing: 0.23px;
  line-height: 29px;
  font-size: 21px;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

#product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product_featured {
  width: 738px;
  height: 636px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 49px;
}

.featured_one {
  background: url(images/ss.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_two {
  background: url(images/wewe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_three {
  background: url(images/sds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_four {
  background: url(images/www.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_five {
  background: url(images/five.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_six {
  background: url(images/six.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product_featured h3 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 40px;
  line-height: 44px;
  color: rgba(245, 245, 247, 1);
}

.product_featured p {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 21px;
  line-height: 26px;
  color: rgba(245, 245, 247, 1);
}

#footer {
  background-color: white;
  width: 100%;
  padding: 10px 261px;
}

.footer_paragraph {
  font-family: SF-Pro-Text-Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(110, 110, 115, 1);
}

.footer_paragraph span {
  color: rgba(66, 66, 69, 1);
}

#footer a {
  font-family: SF-Pro-Text-Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(66, 66, 69, 1);
  text-decoration: none;
  margin-bottom: 16px;
}

.upper_footer {
  margin-bottom: 32px;
}

.lower_footer {
  padding-top: 23px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(210, 210, 215, 1);
}

.menu_columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu_columns nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menu_columns h5 {
  font-family: SF-Pro-Text-Bold;
  color: rgba(29, 29, 31, 1);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.12px;
  margin-bottom: 14px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.copyright_lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding-top: 10px;
  border-top: 1px solid rgba(210, 210, 215, 1);
}

.copyright_upper {
  padding-bottom: 5px;
}

.copyright_lower nav a {
  margin-left: 15px;
}

.copyright p {
  font-family: SF-Pro-Text-Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(110, 110, 115, 1);
}
