@font-face {
  font-family: "myBook";
  src: url(fonts/AirbnbCereal_W_Bk.otf);
}

@font-face {
  font-family: "myBold";
  src: url(fonts/AirbnbCereal_W_Bd.otf);
}

@font-face {
  font-family: "myMedium";
  src: url(fonts/AirbnbCereal_W_Md.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  width: 100%;
  height: 1080px;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-icon {
  color: white;
  display: inline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header-icon:hover {
  transform: scale(1.1);
}

.headset {
  position: absolute;
  left: 30%;
  z-index: 1;
  display: none;
}

.move {
  left: 50%;
}

.sidebar {
  position: absolute;
  right: 10px;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.column {
  border: 2px solid rgba(114, 117, 116, 1);
  width: 120px;
  height: 120px;
}

.image1 {
  background: url(images/1.png);
}

.image2 {
  background: url(images/2.png);
}

.image3 {
  background: url(images/s3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image1:hover,
.image2:hover,
.image3:hover,
.active {
  border: 5px solid rgb(160, 18, 18);
}

.left {
  position: relative;
  width: 1130px;
  padding: 170px 0 0 75px;
  height: inherit;
}

#logo {
  position: absolute;
  top: 5px;
  left: 0;
}

.search {
  width: 400px;
  height: 40px;
  background-color: rgba(19, 19, 19, 1);
  border-radius: 34px;
  border: 2px solid black;
  padding: 5px 20px;
  position: absolute;
  top: 80px;
  left: 350px;
}

.seach::placeholder {
  font-family: "myBold";
  color: rgba(135, 135, 135, 1);
  font-size: 17px;
}

.right {
  width: 795px;
  position: relative;
  height: inherit;
  background: linear-gradient(rgba(19, 19, 19, 0.85), rgba(19, 19, 19, 0.85)),
    url(images/background\ image.png);
}

.content {
  width: 723px;
}

.content h1 {
  font-family: "myBold";
  font-size: 62px;
  color: white;
  position: relative;
  z-index: 1;
}

.content h1::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 407px;
  height: 16px;
  background-color: transparent;
  z-index: -1;
}

.content h1:hover::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 407px;
  height: 16px;
  background-color: rgba(207, 5, 45, 1);
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(130, 130, 130, 1);
  font-family: "myBook";
  font-size: 18px;
}

.icon-star {
  color: red;
}

p.description {
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  font-family: "myBook";
  margin-top: 43px;
  margin-bottom: 26px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.price .price-red {
  color: rgba(207, 5, 45, 1);
  font-family: "myBold";
  font-size: 62px;
}

.price .price-white {
  color: rgba(255, 255, 255, 1);
  font-family: "myMedium";
  font-size: 25px;
  text-decoration: line-through;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-to-cart {
  background-color: rgba(207, 5, 45, 1);
  width: 262px;
  height: 57px;
  color: #ffffff;
  font-size: 19px;
  font-family: "myBold";
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.add-to-cart:hover {
  transform: scale(1.05);
}

.add-to-wishlist {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: "myBold";
  text-decoration: underline;
  margin-top: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 54px;
}

nav a {
  position: relative;
  display: block;
  color: rgba(130, 130, 130, 1);
  font-size: 22px;
  font-family: "myBold";
  margin-bottom: 21px;
  text-decoration: none;
  z-index: 1;
}

nav a::before {
  position: absolute;
  bottom: 2px;
  content: "";
  width: 59px;
  height: 6px;
  background-color: transparent;
  z-index: -1;
}

nav a:hover::before {
  position: absolute;
  bottom: 2px;
  content: "";
  width: 59px;
  height: 6px;
  background-color: rgba(207, 5, 45, 1);
  z-index: -1;
}

nav a:hover {
  color: white;
}
