@import url("https://fonts.cdnfonts.com/css/switzer");

* {
  font-family: "Switzer", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  position: relative;
  width: 100%;
  height: 1716px;
  /* background-color: #CACACA; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 148px 149px 0 149px;
}

.header {
  background-color: white;
  width: 800px;
  height: 60px;
  border-radius: 18px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  margin-left: 26px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #4b4b4b;
}

nav a:hover {
  color: #121212;
}

.sign-in {
  color: #121212;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  padding: 10px 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sign-up {
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #000000;
  padding: 10px 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.sign-in:hover,
.sign-up:hover {
  transform: scale(1.1);
}

.our-plan {
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: rgba(0, 0, 0, 0.08);
  padding: 6px 12px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 6%;
  border-radius: 100px;
}

.text {
  width: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 27px 0 55px 0;
}

.text h1 {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -2%;
  color: black;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  color: #4b4b4b;
  text-align: center;
}

.monthly-annually {
  padding: 4px;
  background-color: white;
  margin-bottom: 48px;
}

.monthly,
.annually {
  color: black;
  width: 88px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.active {
  background-color: black;
  color: white;
}

.packages {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /* background-color: aquamarine; */
  margin-bottom: 188px;
}

.basic,
.enterprise,
.business {
  width: 363px;
  height: 700px;
  padding: 40px;
  border-radius: 32px;
  background-color: white;
  color: #000000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.basic:hover,
.enterprise:hover,
.business:hover {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 100%
  );
  color: white;
  transform: scale(1.05);

  .icon-tick {
    color: white;
  }

  .get-started {
    background-color: white;
    color: #000000;
  }
}

.package-image {
  margin-bottom: 20px;
}

.package-type {
  font-size: 18px;
  font-weight: 500;
}

.package-tag {
  font-weight: 300;
  font-weight: 14px;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.price h3 {
  font-weight: 500;
  font-size: 48px;
}

.get-started {
  border: 1px solid #dddddd;
  background-color: transparent;
  width: 283px;
  height: 44px;
  padding: 12px 14px;
  border-radius: 12px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
  transition: all 0.03 ease-in-out;
  cursor: pointer;
}

.get-started:hover {
  transform: scale(1.05);
}

hr {
  border: 1px solid #ededed;
  width: 100%;
  margin-bottom: 45px;
}

h4.features {
  font-size: 16px;
  font-weight: 500;
}

ul {
  list-style: none;
}

ul li {
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}

.icon-tick {
  font-size: 10px;
  margin-right: 10px;
  color: #292d32;
}

.footer {
  margin-bottom: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  width: 313px;
}

.footer-left-upper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 43px;
}

.footer-left-upper p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(4, 5, 5, 0.8);
}

.footer-left-upper .number {
  margin-right: 35px;
}

.footer-left-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left-bottom p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.footer-right-bottom {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 27px;
}

.footer-right-bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-right-bottom .b1 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #000000;
  padding: 10px 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.footer-right-bottom .b2 {
  color: #121212;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  padding: 10px 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

hr {
  width: 100%;
  border: 1px solid #dddddd;
}

.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyight-right-button {
  padding: 10px 16px;
  margin-left: 5px;
  border: none;
  border-radius: 10px;
}
