* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  background-color: black;
  width: 100%;
  height: 100vh;
}

#hero {
  width: 1440px;
  height: 1024px;
  border-radius: 40px;
  background: linear-gradient(
      54%,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(rgba(9, 25, 65, 1), rgba(9, 25, 65, 1));
}
