@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-image: linear-gradient(90deg, #12063b, #09555c);
    min-height: 100vh;
    width: 100%;
}


.instagram {
    height: 533px;
    width: 416px;
    background-color: white;
    border-radius: 16px;
}

.twitter {
    height: 166px;
    width: 416px;
    background-color: white;
    border-radius: 16px;
}

.new-post {
    height: 108px;
    width: 416px;
    background-color: white;
    border-radius: 16px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

}

.top .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    max-width: 50px;
    min-height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.top .name {
    margin: 0 5px;
}

h2.profile-name {
    font-size: 16px;
    font-weight: 800;
}

h3.profile-username {
    font-size: 16px;
    font-weight: normal;
    color: #536471;
}

.instagram .insta-post img {
    max-width: 416px;
    max-height: 334px;
    object-fit: cover;
}


.engagement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 10px;
}

.engagement .like-comment,
.engagement .like-comment .like,
.engagement .like-comment .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 24px;
    color: #536471;
}

.engagement .like-comment .like-comment-text {
    font-size: 16px;
    color: #536471;
    font-weight: bold;
    margin: 0 10px;
}

.engagement .like-comment .comment {
    margin-left: 30px;
}

.lower {
    padding: 10px;
}

.lower .lower-name {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

#comment {
    background-color: #dadada;
    border-radius: 16px;
    height: 36px;
    border: none;
    width: 100%;
    padding: 10px;
}

input::placeholder {
    font-size: 16px;
    color: #536471;
}

.twitter-text {
    padding: 10px;
    height: 54px;

}

.twitter-text p {
    color: #0F1419;
    font-size: 16px;
}

.new-post .upper {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.new-post .upper p {
    color: #536471;
    font-size: 16px;  
}


.new-post .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}

button {
    width: 72px;
    height: 36px;
    border-radius: 16px;
    background-color: #3671FF;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}