@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

.outer {
    background-color: black;
    width: 1500px;
    height: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 1247px;
    height: 1027px;
    background-color: rgba(22,21,21,0.89);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 54px 34px 94px;

}

.inner h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
}

p.tag-line {
    font-size: 20px;
    font-weight: 600;
    margin: 23px 48px;
    color: white;
    margin-bottom: 30px;
}

.packages {
    width: 100%;
    display: flex;
    align-items: stretch; 
    justify-content: center;
    gap: 42px;
}


.basic,
.pro,
.plus {
    width: 340px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 30px 36px;
    background:
    linear-gradient(45deg,#2B2B2B,#2B2B2B) padding-box,
    linear-gradient(150deg,  rgba(13,88,201,1)0%, rgba(13,88,201,0)100%) border-box;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    
}

.basic:hover,
.pro:hover,
.plus:hover {
    transform: scale(1.05);
}

.package-type {
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(180deg, rgba(10,106,250,1)0%, rgba(62,130,233,0)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 22px;
    margin-bottom: 27px;
}

.price-tag {
    color: #0A6AFA;
    font-size: 20px;
    font-weight: 800;
}

.price-number {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: auto;
    line-height: 1;
}

.price-suffix {
    color: #6C6666;
    font-size: 24px;
    font-weight: 700;
}

.dash {
    width: 11px;
    height: 2px;
    border-radius: 7px;
    background-color: white;
    position: relative;
    top: 50%;
    margin: 0 5px;
    
}

.infinity-sign {
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-right: 5px;
}

.features {
    font-size: 10px;
    font-weight: 700;
    color: white;
    margin-bottom: 38px;
}

ul {
    list-style-type: none;
    margin-bottom: 50px;
}

ul li {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

hr {
    border: 1px solid #525252;
    margin: 25px 0;
}

button {
    width: 212px;
    height: 47px;
    border-radius: 29px;
    background-color: #393636;
    color: #D1D1D1;
    border: 1px solid #7A7A7A;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-top: auto;
    
}

button:hover {
    transform: scale(1.2);
    color: white;
    border: 1px solid #0A6AFA;
    background-color: #0A6AFA;
}

.icon {
    color: #0A6AFA;
    margin-right: 18px;
}