* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.outer {
    width: 100%;
    height: 100vh;
    background: 
        linear-gradient(144deg, rgba(9, 9, 9, 1) 0%, rgba(18, 18, 18, 0.97) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 482.16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 53px;
}

.one,
.two,
.three,
.four {
    width: 202.9px;
    height: 202.9px;
    border-radius: 50.46px;
    border: 2px solid transparent;
    background-color: rgba(14, 16, 28, 1);
    mix-blend-mode: lighten;
    opacity: 0.5;
}

.one:hover {
    background:
        linear-gradient(rgba(14, 16, 28, 1),rgba(14, 16, 28, 1))padding-box,
        linear-gradient(-129deg, rgba(255, 44, 247, 1) 0%, rgba(251, 4, 123, 0.7969) 20%, rgba(255, 126, 188, 0.81) 37%, rgba(255, 255, 255, 0) 58%, rgba(73, 255, 233, 0.65) 73%, rgba(19, 14, 255, 1) 100%)border-box;

    box-shadow: 16.1px -13.96px 114.87px rgba(248, 0, 59, 0.2), -15.03px 17.71px 85.89px rgba(0, 56, 255, 0.3);
    transform: scale(1.05);
    mix-blend-mode: normal;
    opacity: 1;
    cursor: pointer;

}

.two:hover {
    background: 
    linear-gradient(rgba(14, 16, 28, 1),rgba(14, 16, 28, 1))padding-box,
    linear-gradient(50deg, rgba(255, 199, 0, 1) 0%, rgba(21, 151, 0, 0.7969) 16%, rgba(223, 255, 218, 0.2308) 43%, rgba(255, 255, 255, 0) 51%, rgba(255, 39, 10, 0.82) 73%, rgba(255, 130, 14, 1) 87%)border-box;

    box-shadow: 16.1px -13.96px 114.87px rgba(255, 46, 0, 0.28), -15.03px 17.71px 85.89px rgba(5, 255, 0, 0.2);
    transform: scale(1.05);
    mix-blend-mode: normal;
    opacity: 1;
    cursor: pointer;
}

.three:hover {
    background: 
    linear-gradient(rgba(14, 16, 28, 1),rgba(14, 16, 28, 1))padding-box,
    linear-gradient(-130deg, rgba(255, 44, 44, 1) 0%, rgba(251, 152, 4, 0.7969) 16%, rgba(223, 255, 218, 0.2308) 43%, rgba(255, 255, 255, 0) 51%, rgba(255, 10, 127, 0.82) 82%, rgba(120, 14, 255, 1) 100%)border-box;

    box-shadow: 16.1px -13.96px 114.87px rgba(255, 0, 0, 0.28), -15.03px 17.71px 85.89px rgba(143, 0, 255, 0.23);
    transform: scale(1.05);
    mix-blend-mode: normal;
    opacity: 1;
    cursor: pointer;
}

.four:hover {
    background:
    linear-gradient(rgba(14, 16, 28, 1),rgba(14, 16, 28, 1))padding-box,
    linear-gradient(-134deg, rgba(44, 217, 255, 1) 33%, rgba(4, 251, 236, 0.7969) 40%, rgba(144, 255, 126, 0.81) 55%, rgba(255, 255, 255, 0) 70%, rgba(236, 255, 122, 0.82) 85%, rgba(255, 216, 14, 1) 100%)border-box;

    box-shadow: 16.1px -13.96px 114.87px rgba(0, 80, 125, 0.58), -15.03px 17.71px 85.89px rgba(0, 255, 10, 0.18);
    transform: scale(1.05);
    mix-blend-mode: normal;
    opacity: 1;
    cursor: pointer;
}