@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.outer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    linear-gradient(180deg, #000000 0%, #000000 100%);
}

.form-content {
    width: 400px;
    /* height: 350px; */
    background-color: #09555c;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 3px 3px 80px 1px #000000;
    display: flex;
    flex-direction: column;
}


h1 {
    color: #00f7ff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
}

form {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.form-div {
    width: 100%;
    position: relative;
}

.form-div input {
    width: 100%;
    height: 35px;
    display: block;
    border: 1px solid #00f7ff;
    background-color: transparent;
    color: #00f7ff;
}

.form-div label {
    position: relative;
    bottom: 28px;
    left: 10px;
    color: #00f7ff;
    transition: 0.5s;

}

input:focus {
    outline: none;

}

.form-div input:focus~label {
    left: 0;
    bottom: 58px;
    color: #00f7ff;
    font-size: 13px;
}

a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #00f7ff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}

a:hover {
    background: #00f7ff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #00f7ff, 0 0 25px #00f7ff, 0 0 50px #00f7ff, 0 0 100px #00f7ff;
}

.anim-borders {
    position: absolute;
    display: block;
}

.top {
    top: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00f7ff);
    animation:  button-anim1 1s linear infinite;
}


@keyframes button-anim1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00f7ff);
    animation: button-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes button-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.bottom {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00f7ff);
    animation: button-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes button-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00f7ff);
    animation: button-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes button-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}