@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.outside {
    width: 360px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px 80px;
    background: url(images/Background.png);
}

.profile {
    width: 112px;
    height: 112px;
    margin-bottom: 15px;
}

.profile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.username {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

.slogan {
    width: 312px;
    text-align: center;
    margin-bottom: 10px;
}

.slogan p {
    color: white;
    font-size: 12px; 
    font-weight: 300;   
}

.btn {
    border-radius: 8px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 312px;
    height: 56px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.socials {
    width: 100%;
    height: 88px;
    padding: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 30px;
}

.socials i {
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.socials i:hover {
    transform: scale(1.05);
}

p.footer {
    color: white;
    font-size: 13px;
    font-weight: 300;
}