@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.outer {
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
}

.outer-left {
    width: 50%;
    background-image: url(images/leftbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute; 
    top: 10px;
    left: 10px;
}


.outer-left-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #FFFDFD;
    border: 1px solid #CCCCCC;
    width: 384px;
    min-height: 34px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


button:hover {
    transform: scale(1.1);
}

.icon {
    margin-right: 10px;
    color: #03A9F4;
    font-size: 20px;
    border-radius: 50%;
}

span {
    margin-left: 10px;
    color: #707070;
    font-weight: 600;
    font-size: 15px;
}

.outer-right h2 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 15%;
    color: #4F4F4F;
    margin-bottom: 30px;
}

.outer-right h3 {
    font-size: 25px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 50px;
}

.type-email-password {
    width: 385px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 36px;
}

.type-email-password label {
    font-size: 14px;
    color: #4F4F4F;
}


#email,
#password {
    width: 100%;
    min-height: 30px;
    border: 1x solid #CACACA;
    border-radius: 2x;
    cursor: pointer;
    
}

.type-radio {
    width: 388px;
    min-height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}


.type-radio label {
    font-size: 12px;
    color: #4F4F4F;
    margin-left: 12px;
}

input[type=radio] {
    cursor: pointer;
    border: 1px solid #CACACA;
    background-color: white;

}

input[type=submit] {
    width: 384px;
    min-height: 34px;
    background-color: #03A9F4;
    color: white;
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input[type=submit]:hover {
    transform: scale(1.1);
}



