@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.outer {
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.buttons {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.text-fields {
    background-color: rgb(68, 28, 28);
    width: 500px;
    height: 500px;
}

.button-type-one {
    border-radius: 32px;
    background-color: #F5F5FA;
    width: 216px;
    height: 64px;
    border: none;
    color: #d16ba5;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    box-shadow:         
    -5px -5px 10px 0 rgba(255,255,255,0.5),
    5px 5px 10px 0 rgba(170,170,204,0.25),
    10px 10px 10px 0 rgba(170,170,204,0.5),
    -10px -10px 20px 0 rgba(255,255,255,1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
        
}

.button-type-one:hover {
    transform: scale(1.05);
}


.button-type-two {
    border-radius: 32px;
    background-color: #E5E5F0;
    width: 216px;
    height: 64px;
    border: none;
    color: #d16ba5;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    box-shadow:
    5px 5px 10px 0 rgba(170,170,204,0.5),
    -5px -5px 10px 0 rgba(255,255,255,1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.button-type-two:hover {
    transform: scale(1.05);
}

.button-type-three {
    border-radius: 32px;
    background-color: #F5F5FA;
    width: 216px;
    height: 64px;
    border: none;
    color: #d16ba5;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    box-shadow: 
    1px 1px 2px 0 rgba(170,170,204,0.5),
    -1px -1px 2px 0 rgba(255,255,255,1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.button-type-three:hover {
    transform: scale(1.05);
}

.search {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.search-type-one {
    width: 360px;
    height: 64px;
    border-radius: 40px;
    background-color: #F5F5FA;
    border: none;
    padding: 0 20px;    
    box-shadow:
    -2px -2px 4px 0 rgba(255,255,255,0.5),
    2px 2px 4px 0 rgba(170,170,204,0.25),
    5px 5px 10px 0 rgba(170,170,204,0.5),
    -5px -5px 10px 0 rgba(255,255,255,1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}



.search-type-two {
    width: 360px;
    height: 64px;
    border-radius: 40px;
    background-color: #F5F5FA;
    border: none;
    padding: 0 20px;
    box-shadow:
    -2px -2px 4px 0 rgba(255,255,255,0.5)inset,
    2px 2px 4px 0 rgba(170,170,204,0.25)inset,
    5px 5px 10px 0 rgba(170,170,204,0.5)inset,
    -5px -5px 10px 0 rgba(255,255,255,1)inset;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search-type-three {
    width: 360px;
    height: 64px;
    border-radius: 40px;
    border: none;
    background-color: #F5F5FA;
    padding: 0 20px;
    box-shadow:
    1px 1px 2px 0 rgba(170,170,204,0.5)inset,
    -1px -1px 2px 0 rgba(255,255,255,1)inset;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search-type-one:hover,
.search-type-two:hover,
.search-type-three:hover {
    transform: scale(1.05);

}

input::placeholder {
    font-weight: 300;
    font-size: 30px;
    color: #d16ba5;
    transform:translate3d(0,4px,0);

}

.search-type-one,
.search-type-two,
.search-type-three {
    background-image: url(images/magnifying-glass-solid.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right 20px center;
    
}

