@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(8, 12, 21, 1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 54px;
    padding-top: 50px;
}

#background-picture {
    object-fit: cover;
    width: 50%;
    height: inherit;
}

.content {
    position: absolute;
    left: 10%;
    width: 650px;
    position: absolute;
}


h1 {
    font-size: 64px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 56px;
}
h1 span {
    color: rgba(205, 41, 42, 1);
}

p {
    margin-top: 46px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

button {
    padding: 25px 40px;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: rgba(205, 41, 42, 1);
    font-size: 22px;
    font-weight: 500;
    border: none;
    margin-bottom: 110px;

}

.tabs {
    width: 1154px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;

}

.tab {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 93px;
    border-radius: 100px 0 0 100px;
    background: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.21) 51%, rgba(25, 29, 38, 0.21) 90%);

}

.tab-span {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 93px;
    border-radius: 100px 0 0 100px;
    backdrop-filter: blur(34px);

}


.tab-span p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}