@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  gap: 24px;
  margin-right: 24px;
}

nav a {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #121212;
  line-height: 30px;
  letter-spacing: 3%;
  text-decoration: none;
}

button {
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: #a27b5c;
  padding: 14px 27px;
  border: none;
}

button.sign_in {
  background-color: white;
  border: 1px solid #a27b5c;
  color: #a27b5c;
  margin-left: 24px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#hero {
  background-color: #fcf7ef;
  padding: 80px 124px 80px 124px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 96px;
  font-weight: 500;
  color: #121212;
  text-align: center;
}

p.slogan {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #121212;
  line-height: 30px;
  letter-spacing: -3%;
  text-align: center;
  margin-bottom: 50px;
}

div.featured_article {
  overflow: hidden;
  position: relative;
}

div.featured_article_slide {
  display: none;
}

div.featured_article_slide_active {
  display: block;
}

img.featured_image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: auto;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #121212;
  line-height: 42px;
  letter-spacing: -1%;
}

span.meta_data p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #717171;
  line-height: 30px;
  letter-spacing: 3%;
}

span.meta_data {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.prev {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

button.next {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
